
.row{
    position: relative;
    .img-responsive{
        position: absolute;
        right: 0;
        width: 50%;
        max-height: 650px;

    }

     .well {
            padding: 10px;
             color: red;
         }
    .list-group{
        .list-group-item{
            margin-bottom: 3px;
        }
    }
    .btn{
        padding: 10px;
        cursor: pointer;
        margin-right: 17px;
    }

    .movie__genre{
        margin: 0 2px;
    }

    .movie__year{
        color: gray;
        font-size: 18px;
    }
    .director_by{
        color: gray;
        font-size: 12px;
    }
    
}


    .movie__detail{
        margin-top: 72px;
    }