<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="form-group ">
        <div class="col-md-4">
          <button class="btn btn-primary btn-xl " (click)="onNewMovie()">New Movie</button>
        </div>
        <div class="col-md-6">
<!-- searchbar -->
          <input [(ngModel)]="listFilter" name="search" id="search" class="form-control"
          placeholder="search database...">
        </div>
<!-- clear search button           -->
        <div class="col-md-1">
          <button class="btn btn-danger btn-l" (click)="onClearSearch()">x
          </button>
        </div>
      </div>
    </div>
    <br>
  </div>
  <div class="col-md-12">
    <div class="row">
      <div class="col-sm-4 form-group">
        <label for="sort">Sort by:</label>
<!-- Sort -->
        <select name="sort" id="sort" class="form-control" [(ngModel)]="sortByFilter" (change)="onChangeSort()" #sortBy>
          <option value="year-asc"> &uarr;&nbsp; Year </option>
          <option value="year-desc"> &darr;&nbsp; Year</option>
          <option value="title-desc"> &darr;&nbsp; Title</option>
          <option value="title-asc"> &uarr;&nbsp; Title </option>
        </select>
      </div>
      <div class="col-sm-4 form-group">
        <label for="genre">Genre filter:</label>
<!-- genre dropdown -->
        <select id="genre" type="string" [(ngModel)]="ddlistFilter" class="form-control">
          <option *ngFor="let genre of genres; let i = index"> {{genre}}</option>
        </select>
      </div>
      <div class="col-sm-4 form-group">
        <label for="searchType">Search by:</label>
<!-- selected dropdown -->
        <select name="searchType" id="searchType" class="form-control " (change)="onChangeDropdown()" #searchType>
          <option value="all"> All</option>
          <option value="title"> Title</option>
          <option value="director">Director</option>
          <option value="actor"> Actor</option>
        </select>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row clearfix">
  <div class="col-md-12">
    <app-movie-item *ngFor="let movie of movies | InputFilter: listFilter | DropdownFilter: ddlistFilter | 
    Sort: sortByFilter; let i = index" [movie]="movie" [id]="movie.index">
    </app-movie-item>
  </div>
</div>