
<div class="parent">
    <div class="jumbotron">
        <h2> Welcome to the <strong> ngMovie App </strong></h2>
        <h4> developed with Angular4 </h4> <br>
         <p> The purpose of this project is to demonstrate my Angular 4+ skills, using http, router, rxjs, pipes and many, many more. </p>
        <p> Make sure to log in/ register to unlock editing functionalities. Enjoy;)</p>
    </div>
<p class="text-muted"> Navigate to: </p>
    <button routerLink="/movies" class="btn btn-lg btn-primary"> Favourite Movies </button>
    <button routerLink="/favourite-actors" class="btn btn-lg btn-primary">Favourite Actors </button>
</div>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <a href="mailto:bbluszcz@gmail.com" class="email center">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    bbluszcz@gmail.com</a>
                <a href="tel:606-439-369" class="phone center">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    +48-606-439-369</a>
            </div>

            <div class="col-xs-12 col-md-6">
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                        <a href="https://github.com/bbluszcz">
                            <i class="fa fa-github"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/bartek.blue">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://pl.linkedin.com/in/bart%C5%82omiej-bluszcz-3a42ba47">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-3">
                <span class="copyright">Copyright &copy; 2017 Bartłomiej Bluszcz</span>
            </div>
    </div>
    </div>
</footer>