<a
  style="cursor: pointer;"
  [routerLink]="[id]"
  routerLinkActive="active"
  class="list-group-item clearfix">
    <div class="movie pull-left">
      <h3
      class="list-group-item-heading movie__title">
        {{ movie.title }}, <span
        class="movie__year">
        {{movie.year}}
      </span></h3>
      <h5
      class="badge movie__genre"
      *ngFor="let genre of movie.genres"> {{genre}}</h5>
      <h5
      class="movie__director"> <strong>Director: </strong> {{movie.director}}, </h5>
      <p
      class="movie__actors"> <strong>Main cast: </strong><span
        *ngFor="let actor of movie.actors; let i = index"> <span
        *ngIf="i <= 2"> {{ actor.name | slice:0:1}}. {{ actor.surname}}<span
        *ngIf="i!==2">, </span>
        </span>
        </span>
      </p>

  </div>
  <span class="img pull-right">
        <img
          [src]="movie.imagePath"
          alt="{{ movie.name }}"
          class="img-responsive">
      </span>
</a>
