.movie {
    &__title{
        font-size: 25px;
    }
    &__year{
        font-size: 15px;
        // color: gray;
        // &:active, &:focus{
        // color: lightgray;
        // }

    }

    &__genre{
        margin: 0 2px;
    }
}
.list-group-item{
    position: relative;

        .img-responsive{
        height: 95%;
        width: auto;
        max-height: 150px;
        max-width: 100px;
        position: absolute;
        overflow: hidden;
        right: 1px;

        top:1px;
        }
}

  .container {
        width: 95%;
    }


    a.list-group-item{
        &:focus .movie__year, &:active .movie__year, &:focus-within .movie__year {
            color: rgb(219, 233, 219);
    }
}