<div class="row">
  <div class="col-md-12">
<div class="col-md-4">
    <button class="btn btn-primary " (click)="onNewMovie()">New Movie</button>
    </div>
    <div class="form-group ">
      <div class="col-xs-8">

  <!-- searchbar -->
        <input [(ngModel)]="listFilter" name="search" id="search" class="form-control" placeholder="search...">

    <div class="col-md-3">
      <h5>Search by: </h5>
      <select name="searchType" id="searchType" class="form-control " style="width: 200px" (change)="onChange()" #searchType>
        <option value="all"> All</option>
        <option value="title"> Title</option>
        <option value="director">Director</option>
        <option value="actor"> Actor</option>
      </select>
    </div>

      <!-- <div class="col-xs-3">
        <h5>From genre</h5>
        <select type="string" [(ngModel)]="ddlistFilter" (ngModelChange)="showSelected()">
          <option *ngFor="let genre of genres" [ngValue]="genre">{{genre.name}}</option>
        </select>
        <input type="hidden" [(ngModel)]="ddlistFilter.name" />
        <br>
        <br>
      </div> -->

      </div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <app-movie-item
      *ngFor="let movie of movies | InputFilter: listFilter; let i = index;"
      [movie]="movie"
      [id]="movie.index"
      [index]="i"></app-movie-item>
  </div>
</div>

<!--| InputFilter: listFilter | DropdownFilter: ddlistFilter.name -->