<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-4 col-sm-offset-1 col-md-offset-4">
    <br>
    <br>
  <div class="well"> Sign in now!</div>
  <br>
    <form (ngSubmit)="onSignin(f)" #f="ngForm">
      <div class="form-group">
        <label for="email">Mail</label>
        <input
        type="email"
        id="email"
        name="email"
        class="form-control"
        ngModel
        email
        #email="ngModel"
        required>

      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          ngModel
          required
          pattern="^.{6,20}$"
          #password="ngModel"
          >

      </div>
        <p *ngIf="!isValidated" class="text-muted email-helper"> The password provided doesn't match the current user or email not found </p>
      <button class="btn btn-primary" type="submit">Sign In</button>
      <!--  -->
    </form>
  </div>
</div>



